@import "./variables";
@import "./mixins";

.intro-container {
  margin: 0 auto;
  padding-top: 50px;
  height: 100vh;
  max-width: 900px;
  min-width: 700px;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include for-phone {
    min-width: 100%;
  }
  nav {
    position: fixed;
    display: flex;
    padding: 10px 0 5px 0;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: space-around;
    transition: 0.3s;
    z-index: 999;
    background-color: white;
    .nav-logo {
      display: flex;
      height: 30px;
      text-align: start;
      width: 20px;
      a {
        font-size: 22px;
        font-family: "Molle", cursive;
        color: $blue;
      }
    }
    .nav-links {
      display: flex;
      width: 220px;
      justify-content: space-between;
    }
    @include for-phone {
      justify-content: space-between;
      padding-top: 10px;
      align-items: center;
      z-index: 99;
      width: 100%;
      background-color: $blue;
    }
    a {
      text-decoration: none;
      color: $dark-gray;
      font-size: 20px;
      margin-left: 20px;
      height: 30px;
      &:focus {
        outline: none;
      }
      @include for-phone {
        margin-right: 20px;
      }
      hr {
        margin-top: 5px;
        width: 0%;
        height: 1px;
        background-color: $dark-gray;
        border: none;
        transition: 0.2s;
        @include for-phone {
          display: none;
        }
      }
      &:hover {
        hr {
          width: 100%;
        }
      }
    }
  }
}
.introduction {
  text-align: center;
  margin-top: 20px;
  @include for-phone {
    margin-top: 100px;
  }
  .name {
    color: $blue;
    font-size: 39px;
    font-weight: bold;
    @include for-phone {
      font-size: 35px;
    }
  }
  .aboutMe {
    color: gray;
    font-size: 22px;
    font-weight: 100;
    @include for-phone {
    }
  }
}
.picBio {
  text-align: center;
  .avatar-img {
    width: 180px;
    @include for-phone {
    }
  }
}
.top-background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
  @include for-phone {
    height: 34%;
    width: 100%;
  }
}
