@import "./variables";

.skills {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 50px 0;
  background-color: $light-gray;
  @include for-phone {
    height: 100%;
  }
  .skills-title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.788);
    font-weight: bold;
    @include for-phone {
      margin-bottom: 25px;
      font-size: 28px;
    }
  }
  .skills-list {
    margin: auto auto;
    height: 70%;
    max-width: 1000px;
    min-width: 700px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    @include for-phone {
      min-width: 0;
      max-width: 95%;
    }
    li {
      color: rgb(65, 65, 65);
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 100px;
      background-color: transparent;
      font-size: 18px;
      font-weight: bold;
      align-items: center;
      text-align: center;
      height: 170px;
      width: 25%;
      @include for-phone {
        width: 48%;
        height: 170px;
        margin-top: 20px;
        margin-bottom: 50px;
        padding-top: 10px;
        padding-bottom: 0;
      }
      img {
        opacity: 0.9;
        margin: 10px 0 30px 0;
       
      }
    }
  }
}
