@import "./introduction";
@import "./skills";
@import "./projects";
@import "./socialLinks";
@import "./about";
@import "./nav";
@import "./contact";
@import "./monitorScreen";
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  text-decoration: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgba(174, 181, 184, 0.103);
}

main {
  margin-right: 25%;
  position: relative;
  .section {
    transition: 0.4s;
    background-color: transparent;
  }
}

#root {
  background-color: transparent;
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: flex;
}

.f-between {
  justify-content: space-between;
}

.f-col {
  flex-direction: column;
}

#main {
  background-color: transparent;
}

@media (max-width: 1024px) {
  main {
    margin-right: 0;
  }
}
