.intro-container {
  padding-top: 50px;
  margin: 0 auto;
  height: 100vh;
  width: 25%;
  top: 0;
  right: 0;
  background-color: rgba(8, 79, 145, 0.637);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  -webkit-perspective: 1000;
  z-index: 299;
}

@media (max-width: 699px) {
  .intro-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 0;
    height: 60px;
    width: 100%;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.introduction {
  text-align: start;
  margin-top: 20px;
  margin-left: 100px;
}

@media (max-width: 699px) {
  .introduction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.introduction .name {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 699px) {
  .introduction .name {
    font-size: 35px;
    display: none;
  }
}

.introduction .aboutMe {
  margin-top: 5px;
  color: white;
  font-size: 22px;
  font-weight: 100;
}

@media (max-width: 699px) {
  .introduction .aboutMe {
    display: none;
  }
}

.picBio {
  text-align: center;
}

.picBio .avatar-img {
  width: 150px;
}

@media (max-width: 699px) {
  .picBio .avatar-img {
    height: 50px;
  }
}

.top-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 500px;
}

@media (max-width: 699px) {
  .top-background {
    height: 34%;
    width: 100%;
  }
}

.skills__container {
  height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(175, 174, 174, 0.212);
}

.skills__container .skills__browser {
  background-color: white;
  height: 70%;
  width: 80%;
  border: 1px solid inherit;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 15px 19px 19px -16px rgba(0, 0, 0, 0.75);
          box-shadow: 15px 19px 19px -16px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
}

.skills__container .skills__browser .browser__nav {
  background-color: rgba(11, 10, 68, 0.534);
  width: 100%;
  height: 8%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills__container .skills__browser .browser__nav .nav__addbar {
  width: 80%;
  height: 24px;
  background-color: white;
  text-align: right;
  border: 1px solid white;
  border-radius: 5px;
}

.skills__container .skills__browser .browser__nav img {
  height: 24px;
  opacity: 0.8;
}

.skills__container .skills__browser .browser__nav .nav__leftarr {
  opacity: 0.4;
}

.skills__container .skills__browser .browser__tabs {
  height: 4%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.skills__container .skills__browser .browser__tabs .browser__tab {
  cursor: pointer;
  padding-bottom: 1px;
  height: 100%;
  width: 18%;
  border: 1px solid inherit(128, 128, 128, 0.247);
  border-bottom: none;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  background-color: rgba(11, 10, 68, 0.534);
  color: white;
  padding-top: 5px;
  text-align: center;
}

.skills__container .skills__browser .browser__tabs .browser__tab:hover {
  background-color: rgba(11, 10, 68, 0.301);
  color: white;
}

.skills__container .skills__browser .browser__content {
  padding-top: 5%;
  margin-top: 5px;
  height: 70%;
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.404);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__container .skills__browser .browser__content figure {
  text-align: center;
  width: 33%;
}

.skills__container .skills__browser .browser__content figure img {
  background-color: rgba(165, 163, 163, 0.103);
  padding: 5%;
  height: 100px;
  width: 100px;
  opacity: 0.9;
}

.skills__container .skills__browser .browser__content figure figcaption {
  font-size: 20px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.699);
}

.projects-bg-img {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.25;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.projects {
  position: relative;
  height: 100vh;
  max-width: 100%;
  min-width: 800px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .projectsTitle {
  font-size: 35px;
  color: #1a98d3;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 50px;
}

.projects .projectList {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.projects .projectList .projItem {
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.33);
  border: 1px solid inherit;
  border-radius: 10px;
  height: 300px;
  width: 30%;
  margin: 1.5%;
  position: relative;
}

.projects .projectList .projItem:hover > a {
  opacity: 1;
}

.projects .projectList .projItem .projImg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .projectList .projItem a {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  height: 100%;
  width: 100%;
  z-index: 999;
  text-decoration: none;
  background-color: #063957;
}

.projects .projectList .projItem a .projInfo {
  width: 100%;
  height: 100%;
}

.projects .projectList .projItem a .projInfo .projTitle {
  color: white;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 22px;
}

.projects .projectList .projItem a .projInfo hr {
  border: none;
  border-top: 1px solid;
  border-color: white;
  width: 100%;
}

.projects .projectList .projItem a .projInfo p {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  margin-top: 20px;
  line-height: 25px;
}

.projects .projectList .projItem a .projInfo .techList {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.projects .projectList .projItem a .projInfo .techList li {
  font-size: 14px;
  color: #9c9292;
  padding: 1px 5px;
  border: 1px solid #1a98d3;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.projects .projectList .projItem a .projInfo .srcList a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 5px 15px;
  margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #1a98d3;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.projects .projectList .projItem a .projInfo .srcList a img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  height: 18px;
  margin-right: 5px;
}

.projects .projectList .projItem a .projInfo .srcList a:hover {
  opacity: 1;
}

.social {
  margin-top: 50px;
  width: 100%;
}

.social .social__links {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 100px;
}

.social .social__links .social__link {
  opacity: 0.8;
  margin-right: 20px;
}

.social .social__links .social__link:hover {
  opacity: 1;
}

.social .social__links .social__link > img {
  height: 30px;
}

.about-container {
  opacity: 0;
  position: relative;
  background-image: url("../imgs/aboutImg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

.about-container .about__text {
  position: absolute;
  padding: 5px;
  top: 17%;
  left: 28%;
  height: 40%;
  width: 45%;
  color: white;
  font-size: 18px;
  font-weight: lighter;
}

.about-container .about__text .body {
  margin-top: 50px;
}

nav {
  margin-top: 50px;
  width: 100%;
  padding: 10px 0 5px 0;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
  background-color: transparent;
}

@media (max-width: 699px) {
  nav {
    background-color: rgba(77, 73, 73, 0.788);
    position: absolute;
    top: 60px;
    margin: 0;
  }
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

@media (max-width: 699px) {
  nav .nav-links {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 699px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 99;
    width: 100%;
  }
}

nav a {
  padding-left: 100px;
  margin: 0 auto;
  width: 100%;
  text-align: start;
  text-decoration: none;
  color: white;
  font-size: 18px;
  height: 40px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (max-width: 699px) {
  nav a {
    padding-left: 0;
    text-align: center;
  }
}

nav a:focus {
  outline: none;
}

nav a hr {
  margin-left: -100px;
  margin-top: 5px;
  width: 0%;
  height: 1px;
  background-color: white;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav a:hover hr {
  width: 100%;
}

.contact {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3d3a3a;
}

.contact .contact__phone {
  background-color: white;
  height: 90%;
  width: 35%;
  border: 5px double darkgrey;
  border-radius: 30px;
  -webkit-box-shadow: 15px 19px 19px -16px rgba(0, 0, 0, 0.75);
          box-shadow: 15px 19px 19px -16px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
}

.contact .contact__phone .phone__speaker {
  height: 10px;
  width: 20%;
  border: 1px solid #8f8d8d;
  background-color: darkgray;
  margin: 5% auto;
  border-radius: 5px;
}

.contact .contact__phone .phone__screen {
  height: 82%;
  width: 95%;
  margin: 0 auto;
  background-color: #3d3a3a;
  border-radius: 2px;
}

.contact .contact__phone .phone__screen form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 10% 0;
}

.contact .contact__phone .phone__screen form header {
  color: white;
  font-size: 30px;
  margin-bottom: 14%;
}

.contact .contact__phone .phone__screen form label {
  color: white;
  font-size: 15px;
  margin-bottom: 2%;
}

.contact .contact__phone .phone__screen form input {
  padding: 0 10px;
  height: 5%;
  margin-bottom: 2%;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 16px;
}

.contact .contact__phone .phone__screen form .message {
  font-size: 16px;
  padding: 5px 10px;
  margin-bottom: 2%;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 40%;
  resize: unset;
  margin-bottom: 4%;
}

.contact .contact__phone .phone__screen form button {
  height: 4%;
  border: none;
  border-radius: 5px;
  font-size: 100%;
}

.contact .contact__phone .phone__button {
  height: 50px;
  width: 50px;
  border: 2px solid darkgray;
  margin: 2% auto;
  border-radius: 50%;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  text-decoration: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
}

main {
  margin-right: 25%;
  position: relative;
}

main .section {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#root {
  background-color: transparent;
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  main {
    margin-right: 0;
  }
}
/*# sourceMappingURL=index.css.map */